{% extends 'base.html' %}

{% load static%}

{% load crispy_forms_tags %}

{% block content %}

  <h1 class="title">Review Page</h1>

{% for review in review_list %}

<div class="card mb-0 col-8 review">
    <div class="row g-0">
      <div class="col-md-4">
         <!-- The image URL goes in the src attribute -->
         {% if "review_placeholder" in review.image.url %}
         <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
         {% else %}
         <img src=" {{ review.image.url }} " width="100%">
         {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ review.title }}</h5>
          <p class="card-text">{{ review.body }}</p>
          <p class="card-text"><small class="text-muted">{{ review.author }} | {{ review.created_on }}</small></p>
        </div>
      </div>
    </div>
  </div>

{% endfor %}

{% if user.is_authenticated %}
  <h3>Leave a Review:</h3>
  <p id="reviewer">Posting as: {{ user.username }}</p>
  <form method="post" class="review-form">
      {{ review_form.as_p }}
      {% csrf_token %}
      <button type="submit" class="menu-btn">Submit</button>
  </form>
  
{% endif %}

{% endblock %}