{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class=" container no-reservation-text">
        <h3>Here You Can Make A Reservation Or Just walk in to our cafe</h3>
        <p>You visit us by just walking in or you can guarantee a table by clicking the button below to make a reservation at the Cockapoo Cafe.</p>
        <p id="make-reservation-btn"><a class="menu-btn" href="{% url 'create_reservation' %}">Make a reservation</a></p>
        {% if request.user.is_superuser %}
            <p id="make-reservation-btn"><a class="menu-btn" href="{% url 'approve_reservation' %}">Approve a reservation</a></p>
        {% endif %}
        <h3>Your Reservations are:</h3>
    </div>
    {% for res in object_list %}

        {% if res not in object_list %}
        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center made-reservation">
            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">No reservations</h5>
                        <p>You currently have no reservations for the Cockapoo Cafe</p>
                        <p>To make a reservation click <a href="{% url 'create_reservation' %}">Here</a></p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        {% else %}
        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center made-reservation">
            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ res.first_name }} {{ res.last_name }}</h5>
                        <p class="card-text">Your table is reserved at: {{ res.time }}</p>
                        <p class="card-text"> On: {{ res.datetime }}</p>
                        <p class="card-text"><strong>Important info:</strong> {{ res.information }}</p>
                        <p class="card-text">Date reservation made: {{ res.sent_date }}</p>
                        {% if res.accepted %}
                            <p class="card-text confirmed-reservation">Reservation Confirmed!: {{ res.accepted_date }}</p>
                        {% elif res.rejected %}
                            <p class="card-text rejected-reservation">Reservation Rejected</p>
                        {% else %}
                            <p class="card-text pending-reservation">Reservation Confirmation Pending</p>
                        {% endif %}
                        <a href="{% url 'update_reservation' res.id %}" class="menu-btn">Update Reservation</a>
                        <a href="{% url 'delete_reservation' res.id %}" class="menu-btn">Delete Reservation</a>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}