{% extends 'email_base.html' %}

{% load static %}

{% block content %}

<section>
    <div class="container">
        <!-- Contact Information -->
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="contact-information">
                    <h5>Address</h5>
                    <p>Cockapoo Cafe</p>
                    <p>101 Lord Street, Fleetwood</p>
                    <p>FY7 7ZZ</p>
                    <h5>Phone</h5>
                    <p>098 765 43210</p>
                    <h5>Email</h5>
                    <p class="mb-0">admin@cafe.com</p>
                </div>
            </div>
            <!-- Contact Form -->
            <div class="col-12 col-md-8">
                <div class="contact-form">
            <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>Get In Touch</h2>
                        <div class="line"></div>
                    </div>
                    <!-- Form -->
                    <form action="{% url 'contact' %}" class="contact-form" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name" pattern="[A-Za-z ]{1,32}" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="email" name="emailaddress" class="form-control mb-30" placeholder="Your Email" required>
                            </div>
                            <div class="col-12">
                                <textarea name="message" class="form-control mb-30" placeholder="Your Message" required></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="menu-btn">Send Message</button>
                            </div>
                            <div id="messages" class="hide"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Opening hours -->
        <div class="col-12">
            <div class="opening-hours">
                <h2>Opening hours</h2>
                <p>Monday - 9am - 5pm</p>
                <p>Tuesday - 9am - 5pm</p>
                <p>Wednesday - 9am - 5pm</p>
                <p>Thursday - 9am - 5pm</p>
                <p>Friday - 9am - 5pm</p>
                <p>Saturday - 9am - 5pm</p>
                <p>Sunday - 9am - 5pm</p>
            </div>
        </div>
        <!-- Map -->
        <div class="row">
            <div class="col-12">
                <div id="location">
                    <h3>Cockapoo Cafe</h3>
                    <h3>How to find us</h3>
                    <p>Cockapoo cafe is situated in the North Euston Hotel in Fleetwood</p>
                    <p>The map below shows our location and our address is above.</p>
                    <div id="map"></div>
                </div>
            </div>
        </div>
  </div>
</section>


{% endblock %}