/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#top .col-lg-4,
#top .col-lg-8 {
  padding: 0px;
}

#top .left-content {
  background-image: url(../images/top-left-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

#top .left-content .inner-content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

#top .left-content h4 {
  font-family: 'Dancing Script', cursive;
  color: #fff;
  font-size: 54px;
  font-weight: 700;
}

#top .left-content h6 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  margin-top: 5px;
}

#top .left-content .main-white-button  {
  margin-top: 25px;
  margin-bottom: 10px;
}

#top .left-content .main-white-button a {
  display: inline-block;
}

#top .left-content {
  background-image: url(../images/top-left-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

#top .left-content .inner-content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.main-white-button a {
  font-size: 13px;
  color: #fb5849;
  background-color: #fff;
  padding: 12px 25px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 600;
  transition: all .3s;
}

.nav-bg-col {
background-color: #fb5849;
}
    
footer {
background-color: #fb5849;
margin-top: auto;
text-align: center;
padding-top: .5rem;
padding-bottom: .5rem;
display: inline-flex;
}

nav {
margin-bottom: 20px;
}

.sticky {
position: sticky;
top: 0px; /* When the element reaches top: 10px, it becomes fixed. */
z-index: 100;
}

ul {
  padding: 0;
}

.foot-img {
height: 10%;
text-align: center;
}
    
.carouselExampleSlidesOnly img {
height: 100%
}

.socials i {
    color: black;
}

.main-white-button a:hover {
  opacity: 0.9;
}

@media (max-width: 992px) {
    #top {
        padding-top: 0;
        height: auto;
    }
    #top .left-content {
    text-align: center;
    padding: 25% 0px;
    }
    footer p {
        font-size: 12px;
    }
}

/* 
---------------------------------------------
Menu
--------------------------------------------- 
*/

.menu-title {
  text-align: center;
  padding: 20px;
  color: #fb5849;
}

.create-item-btn {
  text-align: center;
  margin-top: 20px;
}

.menu-btn {
  background-color: #fb5849;
  color: #fff;
  border: 1px solid #fb5849;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  text-decoration: none;
}

.inline-flex {
  display: inline-flex;
}

.menu-btn:hover{
  background-color: #fff;
  color: #fb5849;
  border: 1px solid #fb5849;
}

.cancel-btn {
  padding: 13px;
  text-decoration: none;
  margin-bottom: 10px;
}

.menu-cards {
  display: inline-block;
}

div.card {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;;
}

.card {
  border: 1px solid #fb5849;
  border-radius: 15px;
  padding: 5px;
}

.menu-item {
  box-sizing: content-box;
}

/* 
---------------------------------------------
Contact
--------------------------------------------- 
*/

.contact-information {
  background-color: #fb5849;
  border: 1px solid #fb5849;
  color: white;
  padding: 30px;
  border-radius: 8px;
}

.opening-hours {
  background-color: #fb5849;
  border: 1px solid #fb5849;
  color: white;
  padding: 30px;
  border-radius: 8px;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.contact-form {
  padding: 20px;
  background-color: white;
  margin-bottom: 2rem;
}

#map {
  height: 100%;
  margin-bottom: 20px;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  border: 5px solid #fb5849;
}

h3 {
  color: #fb5849;
  text-align: center;
}

#location {
  text-align: center;
}

/* 
---------------------------------------------
Review
--------------------------------------------- 
*/

.review {
  margin: 20px auto;
}

.review-form {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #fb5849;
  text-align: center;
}

.review-form input, textarea {
  width: 80%;
}

#reviewer {
  color: #fb5849;
  text-align: center;
}

.title {
  color: #fb5849;
  text-align: center;
}

.leave-review {
  text-align: center;
  margin-top: 20px;
}

/* 
---------------------------------------------
Authentication
--------------------------------------------- 
*/

.auth {
  width: 60%;
  margin: 0 auto;
  border: 2px solid #fb5849;
  text-align: center;
}

/*
---------------------------------------------
Reservation
--------------------------------------------- 
*/

.res-title {
  margin: 0 auto;
  text-align: center;
}

#make-reservation-btn {
  text-align: center;
  margin: 20px auto;
}

.no-reservation-text {
  text-align: center;
}

.reservation-form {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #fb5849;
  text-align: center;
}

.delete-form {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #fb5849;
  text-align: center;
}

.confirmed-reservation {
  background-color: lightgreen;
}

.pending-reservation {
  background-color: orange;
}

.rejected-reservation {
  background-color: red;
}

/*
---------------------------------------------
Like functionality
--------------------------------------------- 
*/

.like-btn {
  width: fit-content;
}

.like {
  display: inline-block;
}

/* .content-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  
  align-items: center; 
}

.home-container {
  position: absolute;
  margin-bottom: auto;
  margin-top: auto;
} */