{% extends 'base.html' %}

{% load static%}

{% block content %}
    <div class="menu-title">
        <h2>Cockapoo Cafe</h2>
        <h3>Cake Menu</h3>
    </div>
    {% if request.user.is_superuser %}
    <p class="create-item-btn"><a class="menu-btn" href="{% url 'create-cake' %}">Create a New Cake</a></p>
    {% endif %}

    {% for cake in cake_list %}
    
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        <div class="col">
            <div class="card">
                <img src="{{ cake.image.url }}" class="card-img-top" alt="Cake picture">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ cake.name }}</h5>
                    <p class="card-text">{{ cake.description }}</p>
                    <p class="card-text">£{{ cake.price }}</p>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'update-cake' cake.id %}" class="menu-btn">Update Cake</a>
                        <a href="{% url 'delete-cake' cake.id %}" class="menu-btn">Delete Cake</a>
                        {% endif %}
                </div>
            </div>
            <hr>
        </div>
    </div>

    {% endfor %}

{% endblock %}