{% extends 'base.html' %}

{% load static%}

{% block content %}
    <div class="menu-title">
        <h2>Cockapoo Cafe</h2>
        <h3>Cold Drinks Menu</h3>
    </div>
    {% if request.user.is_superuser %}
        <p class="create-item-btn"><a class="menu-btn" href="{% url 'create-cold-drinks' %}">Create a New Drink</a></p>
    {% endif %}
    {% for drink in colddrinks_list %}
    
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        <div class="col">
            <div class="card">
                <img src="{{ drink.image.url }}" class="card-img-top" alt="Drink picture">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ drink.name }}</h5>
                    <p class="card-text">{{ drink.description }}</p>
                    <p class="card-text">£{{ drink.price }}</p>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'update-cold-drink' drink.id %}" class="menu-btn">Update Drink</a>
                        <a href="{% url 'delete-cold-drink' drink.id %}" class="menu-btn">Delete Drink</a>
                    {% endif %}
                </div>
            </div>
            <hr>
        </div>
    </div>

    {% endfor %}
   
{% endblock %}