{% extends 'base.html' %}

{% load static%}

{% block content %}
    <div class="menu-title">
        <h2>Cockapoo Cafe</h2>
    <h3>Hot Drinks Menu</h3>
    </div>
    {% if request.user.is_superuser %}
    <p class="create-item-btn"><a class="menu-btn" href="{% url 'create-hot-drinks' %}">Create a New Drink</a></p>
    {% endif %}
    
    {% for drink in hotdrinks_list %}

        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
            <div class="col">
                <div class="card">
                    {% if "drink_placeholder" in drink.image.url %}
                        <img src="{% static 'images/placeholder.jpeg' %}" alt="placeholder" width="100%">
                    {% else %}
                        <img src=" {{ drink.image.url }} " alt="placeholder" width="100%">
                    {% endif %}
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ drink.name }}</h5>
                        <p class="card-text">{{ drink.description }}</p>
                        <p class="card-text">£{{ drink.price }}</p>
                        {% if request.user.is_superuser %}
                            <a href="{% url 'update-hot-drink' drink.id %}" class="menu-btn">Update Drink</a>
                            <a href="{% url 'delete-hot-drink' drink.id %}" class="menu-btn">Delete Drink</a>
                        {% endif %}
                        {% if user.is_authenticated %}
                            {% if user.liked %}
                                <a href="{% url 'like-hot-drink' drink.id %}"class="btn-danger like-btn">UnLike <i class="fab fa-gratipay"></i></a>
                            {% else %}
                                <a href="{% url 'like-hot-drink' drink.id %}"class="menu-btn like-btn">Like <i class="fab fa-gratipay"></i></a>
                            {% endif %}
                        {% endif %}
                        <i class="fab fa-gratipay"> </i>- {{ drink.total_likes }} Likes
                    </div>
                    
                </div>
                <hr>
            </div>
        </div>

    {% endfor %}

    <p class="create-item-btn"><a class="menu-btn" href="{% url 'menu' %}">Back to Main Menu</a></p>

{% endblock %}