{% extends 'base.html' %}

{% load static%}

{% block content %}

    <h2 class="menu-title">Cockapoo Cafe Menu</h2>

    {% if request.user.is_superuser %}
        <p class="create-item-btn"><a class="menu-btn" href="{% url 'create-menu-category' %}">Create Menu Category</a></p>
        <p class="create-item-btn"><a class="menu-btn" href="{% url 'menu-items' %}">Create/ Edit/ Delete Menu Items</a></p>
    {% endif %}

    {% for cat in object_list %}

    <div class="row row-cols-1 menu-item">
        <div class="col">
            <div class="card">
                
                <div class="card-body text-center">
                    <h5 class="card-title">{{ cat }}</h5>
                    <!-- <p class="card-text">{{ cat.name }}</p> -->
                    <p class="card-text">{{ cat.description }}</p>
                    <p class="inline-flex"><a class="menu-btn" href="{% url 'category' cat.id %}">{{ cat }} Menu</a></p>
                    {% if request.user.is_superuser %}
                    <p class="inline-flex"><a href="{% url 'update-category' cat.id %}" class="menu-btn">Update Category</a></p>
                    <p class="inline-flex"><a href="{% url 'delete-category' cat.id %}" class="menu-btn">Delete Category</a></p>
                    {% endif %}
                   
                </div>
            </div>
        </div>

    {% endfor %}


{% endblock %}