{% extends 'base.html' %}

{% load static%}

{% block content %}

    <h2 class="menu-title">Cockapoo Cafe Menu</h2>

    {% if request.user.is_superuser %}
        <p class="create-item-btn"><a class="menu-btn" href="{% url 'create-menu-item' %}">Create Menu Item</a></p>
    {% endif %}

    <p class="create-item-btn"><a class="menu-btn" href="{% url 'menu' %}">Back</a></p>

    {% for item in object_list %}

    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center content">
        <div class="col">
            <div class="card">
                {% if "item_placeholder" in item.image.url %}
                    <img src="{% static 'images/menu_placeholder.jpeg' %}" alt="placeholder" width="100%">
                {% else %}
                    <img src=" {{ item.image.url }} " alt="placeholder" width="100%">
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <p class="card-text">£{{ item.price }}</p>
                    <p class="card-text">{{ item.category }}</p>
                    {% if request.user.is_superuser %}
                        <p class="inline-flex"><a href="{% url 'update-menu-item' item.id %}" class="menu-btn">Update Item</a></p>
                        <p class="inline-flex"><a href="{% url 'delete-menu-item' item.id %}" class="menu-btn">Delete Item</a></p>
                    {% endif %}
                    <p class="inline-flex"><i class="fab fa-gratipay"> </i>- {{ item.total_likes }} Likes</p>
                </div>
            </div>
            <hr>
        </div>
    </div>

    {% endfor %}


{% endblock %}