{% extends 'base.html' %}

{% load static%}

{% block content %}
    <div class="menu-title">
        <h2>Cockapoo Cafe</h2>
        <h3>Sandwiches Menu</h3>
    </div>
    {% if request.user.is_superuser %}
        <p class="create-item-btn"><a class="menu-btn" href="{% url 'create-sandwich' %}">Create a Sandwich</a></p>
    {% endif %}
    
    {% for snack in sandwich_list %}
    
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        <div class="col">
            <div class="card">
                <img src="{{ snack.image.url }}" class="card-img-top" alt="Sandwich picture">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ snack.name }}</h5>
                    <p class="card-text">{{ snack.description }}</p>
                    <p class="card-text">£{{ snack.price }}</p>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'update-sandwich' snack.id %}" class="menu-btn">Update Sandwich</a>
                        <a href="{% url 'delete-sandwich' snack.id %}" class="menu-btn">Delete Sandwich</a>
                    {% endif  %}
                </div>
            </div>
            <hr>
        </div>
    </div>

    {% endfor %}

    <p class="create-item-btn"><a class="menu-btn" href="{% url 'menu' %}">Back to Main Menu</a></p>
    
{% endblock %}