{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An online cafe booking website for owners of dogs">
    <!-- Bootstrap css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Import custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <!-- Import favicon -->
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon" />
    <title>Cockapoo Cafe</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light nav-bg-col sticky">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><h1 id="nav-title">Cockapoo Cafe</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% with url_name=request.resolver_match.url_name %}
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
            </li>
            <!-- Reservation Navigation -->
            {% if request.user.is_superuser %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Reservations</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item {% if url_name == 'reservation' %}active{% endif %}" href="{% url 'reservation' %}">Reservations</a></li>
                  <li><a class="dropdown-item {% if url_name == 'approve_reservation' %}active{% endif %}" href="{% url 'approve_reservation' %}">Approve Reservations</a></li>
                </ul>
              </li>
            {% elif user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'reservation' %}active{% endif %}" href="{% url 'reservation' %}">Reservation</a>
              </li>
            {% else %}
              <li>
                <a class="nav-link {% if url_name == 'account_signup' %}active{% endif %}" href="{% url 'account_signup' %}">Reservation</a>
              </li>
            {% endif %}
            <!-- Review Navigation -->
            {% if request.user.is_superuser %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Reviews</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item {% if url_name == 'review' %}active{% endif %}" href="{% url 'review' %}">Reviews</a></li>
                    <li><a class="dropdown-item {% if url_name == 'manage_review' %}active{% endif %}" href="{% url 'manage_review' %}">Approve Reviews</a></li>
                  </ul>
                </li>
            {% else %}
                <li class="nav-item">
                  <a class="nav-link {% if url_name == 'review' %}active{% endif %}" href="{% url 'review' %}">Reviews</a>
                </li>
            {% endif %}
            <!-- Contact Navigation -->
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
            </li>
            <!-- Menu Navigation -->
            {% if request.user.is_superuser %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Menu</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item {% if url_name == 'menu' %}active{% endif %}" href="{% url 'menu' %}">Menu</a></li>
                    <li><a class="dropdown-item {% if url_name == 'menu-items' %}active{% endif %}" href="{% url 'menu-items' %}">Manage Menu Items</a></li>
                    <li><a class="dropdown-item {% if url_name == 'create-menu-category' %}active{% endif %}" href="{% url 'create-menu-category' %}">Create Menu Category</a></li>
                    <li><a class="dropdown-item {% if url_name == 'create-menu-item' %}active{% endif %}" href="{% url 'create-menu-item' %}">Create Menu Iterm</a></li>
                  </ul>
                </li>
            {% else %}
                <li class="nav-item">
                  <a class="nav-link {% if url_name == 'menu' %}active{% endif %}" href="{% url 'menu' %}">Menu</a>
                </li>
            {% endif %}
            <!-- Account Navigation -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'account_logout' %}active{% endif %}" href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Register/login</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item {% if url_name == 'account_signup' %}active{% endif %}" href="{% url 'account_signup' %}">Register</a></li>
                <li><a class="dropdown-item {% if url_name == 'account_login' %}active{% endif %}" href="{% url 'account_login' %}">Login</a></li>
              </ul>
            </li>
            {% endif %}
          {% endwith %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- ***** Messages display ***** -->
  <div class="container content-container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
          </div>
      </div>
  </div>
  {% block content %}

{% endblock %}
  <!-- ***** Footer Start ***** -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm socials">
          <ul>
            <li class="list-inline-item"><a href="https://facebook.com" target="_blank" rel="noopener" aria-label="visit us on Facebook (opens a new tab)"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com" target="_blank" rel="noopener" aria-label="visit us on Twitter (opens a new tab)"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com" target="_blank" rel="noopener" aria-label="visit us on LinkedIn (opens a new tab)"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://instagram.com" target="_blank" rel="noopener" aria-label="visit us on Instagram (opens a new tab)"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-sm">
          <p>Cockapoo Cafe</p>
        </div>
        <div class="col-sm">
          <p>© Copyright Cockapoo Cafe Co.</p>
        </div>
      </div>
    </div>
  </footer><!-- Fontawesome script-->
  <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>
  <!-- Bootstrap js script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <!-- Javascript for messages timeout -->
  <script>
    setTimeout(function () {
        let messages = document.getElementById('msg');
        let alert = new bootstrap.Alert(messages);
        alert.close();
    }, 2500);
  </script>
</body>
</html>